body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #111111;
  color: #dddddd;
  font-family: 'Oxygen Mono', monospace;
}

main{
  display: flex;
  flex-wrap: wrap;
}

header.pageHeader{
  border: 2px solid grey;
  margin: 1px 0px 1px 0px;
  max-width: 98vw;
  min-height: 5vh;
}

div.ticker{
}

div.market{
  position: absolute;
  display: block;
  right: 0px;
  width: 15%;
  min-height: 90vh;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid darkgrey;
  border-left: 3px solid darkgrey;
  background-color:#303a30;
}

div.chartWindow{
  background-color: navy;
  height: 74vh;
  border-top: 3px solid blueviolet;
  border-left: 3px solid darkgrey;
}

svg{
  position: inline-block;
  background: black;
}
svg.price{
  width: 80%;
  height: 70%;
}

svg.vol{
  width: 80%;
  height: 20%;
}

div.quote{
  position: inline-block;
  float: right;
  background-color: grey;
  width: 20%;
  height: 70vh;
  color: #112233;
  font-weight: bolder;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul{
  position: relative;
  list-style: none;
  left: -25px;
}

li{
  font-weight: bold;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
li.green{
  color: green;
  font-weight: bold;
}
li.red{
  color: red;
  font-weight: bolder;
}

.chartHeader{
  position: inline-block;
  width: 100%; 
  height: 4.5vh;
  border: solid 1px grey;
}
.chartTitle{
  margin: .5vw;
}

input.in{
  height: 3vh;
  color: green;
  font-weight: bold;
  user-select: auto;
  caret-color: green;
}

a{
  color: green;
  text-decoration: none;
}

div.news{
  max-width: 80%;
  max-height: 90%;
  border: solid 2px grey;
  overflow-y: scroll;
}

div.help{
  max-width: 80%;
  border: solid 2px cyan;
  background: #dedede;
  color: #000000;
  overflow-y: scroll;
}

div.results{
  max-height: 90%;
  overflow-y: scroll;
}

span.waiting{
  color: #555555;
  border: 1px dashed grey;
  background: #23aabb;
  margin: 2px;
}

span.err{
  display: inline-block;
  border: #bf120a solid 3px;
  width: 25vw;
  color: #777777;
  background: #dedede;
}

footer.footer{
  width:90vw;
  margin-top: 1vh;
  bottom: 0px;
  left: 1vw;
  border-top: solid blueviolet;
  border-left: solid grey;
}
