body{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #111111;
  color: #dddddd;
}

main{
  display: flex;
  flex-wrap: wrap;
}

div.ticker{
}

div.market{
  position: absolute;
  right: 0px;
  width: 15vw;
  min-height: 90vh;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid darkgrey;
  border-left: 3px solid darkgrey;
}

div.chartWindow{
  background-color: navy;
  width: 40vw;
  height: 75vh;
  border-top: 3px solid blueviolet;
  border-left: 3px solid darkgrey;
}

svg{
  position: inline-block;
  background: black;
}

.price{
  width: 30vw;
  height: 47vh;
}

.vol{
  width: 30vw;
  height: 20vh;
}

div.results{
  width: 30vw;
  height: 70vh;
  overflow-y: scroll;
}

div.quote{
  position: inline-block;
  float: right;
  background-color: grey;
  width: 10vw;
  height: 70vh;
  color: #112233;
  font-weight: bolder;
  font-size:1.3vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul{
  position: relative;
  list-style: none;
  left: -25px;
}

li{
  font-weight: bold;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
li.green{
  color: green;
  font-weight: bold;
}
li.red{
  color: red;
  font-weight: bolder;
}

.chartHeader{
  position: inline-block;
  width: 25vw;; 
  height: 5vh;
  border: solid 1px grey;
}
.chartTitle{
  margin: .5vw;
}

input.in{
  height: 3vh;
  color: green;
  font-weight: bold;
  user-select: auto;
  caret-color: green;
}

span.waiting{
  display: inline;
  color: #555555;
  border: 1px solid grey;
}

div.news{
  max-width: 40vw;
  border: solid 2px grey;
  overflow-y: scroll;
  height: 60vh;
}

span.err{
  display: block;
  border: #bf120a solid 3px;
  color: #777777;
}

.footer{
  margin-top: 1vh;
  bottom: 0px;
  left: 1vw;
  border-top: solid blueviolet;
  border-left: solid grey;
}

a{
  color: green;
  text-decoration: none;
}
